.section {
    background: white;
    box-shadow: 0 0 5px #ddd;
    border-radius: 10px; 
    overflow: hidden;
    margin: 20px 0;
}

.section__header {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.section__headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.section__header {
    padding: 20px 0;
    margin: 0;
    border-bottom: none;
}

.section__body {
    padding: 20px;
}