.tasksList__taskItem {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tasksList__taskItem--hidden {
    display: none;
}

.tasksList__taskButton {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
}

.tasksList__taskButton--remove {
    background: #e11;
}

.tasksList__taskButton--done {
    background: #1a7b1e;
}

.tasksList__taskContent--done {
    text-decoration: line-through;
}

.tasksList__taskContent {
    flex-grow: 1;
}

.task-list__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
  }

  .task-list__button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: teal;
    color: #fff;
  }
